@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.custom-bg {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    176deg,
    rgba(2, 0, 36, 1) 9%,
    rgba(15, 15, 73, 1) 43%,
    rgba(15, 15, 73, 1) 45%,
    rgba(9, 9, 121, 1) 93%
  );
}
